@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca&display=swap');

:root{
    --verylightgray: hsl(0, 0%, 95%);
    --bright-orange:hsl(31, 77%, 52%);
    --dark-cyan:hsl(184, 100%, 22%);
    --very-dark-cyan: hsl(179, 100%, 13%);
    --transparent-white:hsla(0, 0%, 100%, 0.75);
}
h1{
    font-family: 'Big Shoulders Display';
    text-transform: uppercase;
    color: var(--verylightgray);
    position: relative;
    left: -2em;
}
p{
    font-family: 'Lexend Deca';
    color: var(--transparent-white);
}
h1,
p,
svg,
.btn{
    
    margin:2em 4em 0 4em;

}
*{
    margin: 0;
    box-sizing: border-box;
}
body{
    background-color:var(--verylightgray);
    font-size: 15px;
    
}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin:auto;
    margin-top:2em;
    
}
.box1{
    background-color:var(--bright-orange) ;
    width: 376px;
    height: 75vh;
    border-radius: .85em 0 0 .85em;
    
}
.box2{
    background-color: var(--dark-cyan);
    height: 75vh;
    width: 376px;
}
.box3{
    background-color: var(--very-dark-cyan);
    width: 376px;
    height: 75vh;
    border-radius: 0 .85em .85em 0;

}

.btn{
    background-color: white;
    position: relative;
    top: 3em;
    height: 3em;
    padding-left: 2em;
    padding-right: 2em;
    border-radius: 1.5em;
}
.btn1{
    color: var(--bright-orange);
}
.btn2{
    color: var(--dark-cyan);
}
.btn3{
    color: var(--very-dark-cyan);
}
.btn1:hover{
     background-color: var(--bright-orange);
}
.btn2:hover{
    background-color: var(--dark-cyan);
}
.btn3:hover{
    background-color: var(--very-dark-cyan);
}
.btn:hover{
    color: white;
    font-size: 0.8em;
    cursor: pointer;
}
.attribution { 
    font-size: 11px;
     text-align:center;
     position:fixed;
     bottom:0;
     padding-top: 1em ;
     padding-bottom: 1.5em;
     background-color: rgb(11, 11, 44);
     color: white;
     width: 100%;
     }
    .attribution a {
         color: hsl(228, 67%, 63%);
         text-decoration: none;
         }
         .attribution a:hover {
             color: white;
             cursor: pointer;
            
            }
         @media only screen and (max-width:375px) {
             .container{
                 flex-wrap: wrap;
             }
             .box1{
             border-radius: .85em .85em 0 0;
             }
             .box3{
                 border-radius: 0 0 .85em .85em;
             }
         }